body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 55px;
}
    .orange-color{
        color: rgb(255, 145, 0);
    }
    .flexible{
        display: flex;
        margin-bottom: 200px;
    }
    .half-width{
        width: 50%;
        padding-left: 3%;
        
    }
    .half-width img{
        width: 80%;
        padding-left: 13%;
    }
    .link-button{
        text-decoration: none;
        background:linear-gradient(to left, #33ccff 0%, #ff6600 100%);
        padding: 11px 11px;
        font-weight: 700;
        border-radius: 5px;
        padding-top: 10px;
        color: black;
        
    }
    .top{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    
}